.accountsHeader {
	background-color: #24006B;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.accountRowEven {
	background-color: #f0f0f0;	
	height: 25px;
	font-size: 12px;
}

.accountRowOdd {
	background-color: #e3e3e3;
	height: 25px;
	font-size: 12px;
}

.accountRowOdd :HOVER{
	background-color: black;
}

#os2_wait_box {
	display: none; 
	height: 20px; 
	text-align: center; 
	color: white; 
	background-color: black; 
	font-size: 10px; 
	padding-top: 3px;	
}

#os2_login_box {
	background-color: #2e3091; 
	height: 150px; 
	text-align: center; 
	color: white;	
}

#os2_menu_bar {
	border-bottom: 1px none; 
	background-color: rgb(230, 255, 255); 
	height: 20px;
	border-bottom: 1px #60BFBF solid;
	padding: 3px 0px;
}
	
}

#os2_menu_bar ul {
	font-size: 14px;	
}

#os2_menu_bar li {
	padding: 0pt 10px; 
	display: inline;	
}

#os1_menu_bar {
	border-bottom: 1px none; 
	background-color: rgb(230, 255, 255); 
	height: 20px;
	border-bottom: 1px #60BFBF solid;
	padding: 3px 0px;
}
	
}

#os1_menu_bar ul {
	font-size: 14px;	
}

#os1_menu_bar li {
	padding: 0pt 10px; 
	display: inline;	
}

#accounts_search_box {
	border-bottom: 1px none; 
	background-color: rgb(230, 255, 255); 
	border-bottom: 1px #60BFBF solid; 
	font-size: 12px;
	padding: 10px;
	display: none;
}

#accounts_search_box span {
	border: 1px #a4d2c7 solid; 
	padding: 5px; 
	margin: 3px;	
	display: inline;
}

#accounts_search_box input {
	font-size: 11px;
}

#os2_accounts, #os2_accounts_content {
	width: 750px; 
	text-align: left; 
	border-left: 1px #60BFBF solid; 
	border-right: 1px #60BFBF solid; 
	border-bottom: 1px #60BFBF solid; 
	overflow-y: auto;	
}

#os2_accounts_content {
	display: none;	
}

#os2_accounts_wrapper {
	/*height: 702px;*/	
}

#os2_accounts_legend, #os2_edit_account_legend {
	font-size: 12px;
	height: 20px;
	padding-top: 3px;
	text-align: right;	
	width: 750px;
	border-bottom: 1px #60BFBF solid;
	border-left: 1px #60BFBF solid;
	border-right: 1px #60BFBF solid;
	background-image: url('../img/admin/stripe.gif');
}

#os2_edit_account_legend {
	text-align: left;
	display: none;	
}

#edit_message_ok {
	border-bottom: 1px #60BFBF solid; 
	font-size: 12 px; 
	padding: 10px; 
	background-color: #cbffca;
	display: none;
}

#edit_message_error {
	border-bottom: 1px #60BFBF solid; 
	font-size: 12 px; 
	padding: 10px; 
	background-color: #ffcaca;
	display: none;	
}

#prokeygen_message_ok {
	border-bottom: 1px #60BFBF solid; 
	font-size: 12 px; 
	padding: 10px; 
	background-color: #cbffca;
	display: none;
}

#prokeygen_message_error {
	border-bottom: 1px #60BFBF solid; 
	font-size: 12 px; 
	padding: 10px; 
	background-color: #ffcaca;
	display: none;	
}

#account_details_header, #key_details_header {
	background-color: #E6F0FF; 
	border-bottom: 1px #60BFBF solid;
	font-size: 13px;
	padding: 10px 10px;
	color: #002F73;
}

#key_details_header {
	border-top: 1px #60BFBF solid;
}

#change_password_header, #update_details_header, #update_limits_header, #update_keystatus_header, #manage_urls_header {
	border: 1px #afd2c5 solid; 
	margin: 10px; 
	padding: 10px; 
	background-color: #eefff6;
	font-size: 12px;
}

/** key url table **/
#key_urls {
	width: 700px;	
}

.navigation_enabled {
	cursor: pointer;	
}

.navigation_disabled {
	color: #c3c3c3;	
	cursor: pointer;
}









