/*
Author: Toni Ruckwood
Copyright: 2009 Ordnance Survey
Version: 1.0
Updated: 
*/
BODY {
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	font-size: .75em;
	background-color: #fff;
	color: #333;
	text-align: center;
}

A {
	color: #333;
}
A:link {
	color: #333;
}
A:visited {
	color: #333;
}
A:hover,A:focus {
	color: #333;
	text-decoration: none;
}
A:active {
	color: #333;
}

SELECT, TEXTAREA {
	font-size: 1.25em;
}

#col3 TEXTAREA {
	width: 100%;
}

#col4 TEXTAREA {
	width: 100%;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	padding: 10px 0;
}

#nojs {
	background-color: #f00;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
}

#nojs P {
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	margin: .75em 0;
}

#col1 {
	width: 540px;
	float: left;
}

#col2 {
	width: 410px;
	float: left;
	padding-left: 10px;
}

#col3 {
	width: 900px;
	float: left;
}

#col4 {
	width: 100%;
	float: left;
}

/* #map {
	width: 540px;
	height: 440px;
	border: 1px solid #273397;
} */

H1 {
	width: 300px;
	height: 92px;
	background-image: url(../images/logo.gif);
	margin: 10px 0;
}

H1 SPAN {
	position: absolute;
	left: -9999px;
}

.container {
	border: 1px solid #273397;
	//background-color: #e5eae3;
	background-color:#FCE6C9;
	margin-bottom: 10px;
}

H2 {
	//background-color: #767a75;
	background-color:#EE7600;
	font-size: 1.5em;
	padding: 10px;
	position: relative;
}

.active H2 {
	background-color: #273397;
}

H2 A {
	//color: #a3a6a2;
	color:#FCE6C9;
	text-decoration: none;
}

H2 A:hover {
	color: #fff;
}

.active H2 A,#col3 H2,#col4 H2 {
	color: #fff !important;
}

H2 A.help {
	position: absolute;
	right: 10px;
	width: 22px;
	height: 22px;
	background-image: url(../images/help.gif);
	visibility: hidden;
}

.active A.help {
	visibility: visible;
}

H2 A SPAN {
	position: absolute;
	left: -9999px;
}

.container FORM {
	margin: 10px;
	display: none;
}

.active FORM {
	display: block;
}

.container FORM P {
	font-size: 1.5em;
	color: #373737;
	margin: 10px 0;
}

.row {
	margin: 10px 0;
}

.right {
	text-align: right;
}

.floatright {
	float: right;
}

.container FORM LABEL {
	font-size: 1.25em;
	color: #373737;
	margin-right: 10px;
}

#texteditor,#generatedcode {
	display: none;
}

#editor1,#codeoutput {
	border: 1px solid #273397;
	width: 100%;
	font-family: "Courier New", Courier, monospace;
}

#mapmarkers SPAN {
	display: inline-block;
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 40px;
}

#mapmarkers.red #mapmarker1 {
	width: 80px;
	background-image: url(../images/red1.gif);
}
#mapmarkers.red #mapmarker2 {
	width: 100px;
	background-image: url(../images/red2.gif);
}
#mapmarkers.red #mapmarker3 {
	width: 70px;
	background-image: url(../images/red3.gif);
}

#mapmarkers.green #mapmarker1 {
	width: 80px;
	background-image: url(../images/green1.gif);
}
#mapmarkers.green #mapmarker2 {
	width: 100px;
	background-image: url(../images/green2.gif);
}
#mapmarkers.green #mapmarker3 {
	width: 70px;
	background-image: url(../images/green3.gif);
}

#mapmarkers.blue #mapmarker1 {
	width: 80px;
	background-image: url(../images/blue1.gif);
}
#mapmarkers.blue #mapmarker2 {
	width: 100px;
	background-image: url(../images/blue2.gif);
}
#mapmarkers.blue #mapmarker3 {
	width: 70px;
	background-image: url(../images/blue3.gif);
}

#editmarkers SPAN {
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 0px;
}

.section {
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}

#searchdiv {
	position: relative;
	top: 30px;
	left: 80px;
	width: 400px;
	height: 10px;
	z-index: 999;

}
