body
{
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", Verdana, Helvetica, Arial, sans-serif;
	/* font-size: 1.0em; */
	font-size: 0.7em;
	text-align: left; /* */ /* workaround to center a div in IE: http://www.maxdesign.com.au/presentation/center/ */
    margin: 0;
    padding: 0;
    color:  #202020; /* #002161 */
}

#topbar {
    height: 100px;
    background-image: url(../img/PDOK-logo.png);
	background-repeat:no-repeat;
	background-position:400px; 
}

#container {
    width: 940px;
    height: 100%;
	margin: 0px auto;
}

#content {
    text-align: left;
    width:100%;
    height: 100%;
    left: 5px;
    position: relative;
    background-color:#FFFFFF;
 	margin: 0px;
	padding: 0px;
    box-shadow: 0 0 5px grey;
    border: 1px solid #a0a0a0;
}

#title {
    color: #154373;
    font-size: 2em;
	width:100%;
    height: 40px;
    margin: 0px;
    padding: 5px;
    text-align: left;
}

#search{
	margin-left:5px;
	padding:0px 0px 0px 0px;
	position:relative;
	width:90%;
	font-size:1.1em;
	font-weight:bold;
}

#map
{
	height:100%;
	margin:0;
	padding:0;
	/* z-index: 1; */
}

#map.functional {
	position:absolute;
	width: 550px;
	left: 390px;
    border: 1px solid #a0a0a0;
}

#map.embedded {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
}

#leftcolumn{
	margin:0px;
	padding:0px;
    width: 360px;
    height: 100%;
	left: 0px;
    position: absolute;
    /*left: 1200px;*/
   /* z-index: 2000;*/
}

#searchResults{
	height: 350px;
    overflow-y: auto;
}

#leftcolumn ul {
	padding-left: 3px;
	list-style-type: none;
}

#leftcolumn li {
    font-size: 0.9em;
    padding: 10px 4px 5px 32px;
    /* border-bottom: solid 1px grey; */
}

.openurl{
    border: 1px solid #0085C6;
    background-color: #A0E5FF;
}

.openurl a{
    color: #004596;
}
.filterbutton{
	background-color: rgb(225,112,0);
	color : #FFFFFF;
}

.ui-button-text-only .ui-button-text {
    padding: 0.1em 1em;
}

.ui-button .ui-button-text {
    display: block;
    line-height: 1.1;
}
.soortinput {
    position: relative;
    width: 180px;
    top: 0px;
    left: 0px;
    margin: 1px;
}

.catselector label{
    font-style: italic;
}

a
{
	color:#154373;
}

a:hover 
{
	text-decoration:underline;
}

li 
{
	margin: 0;
}

.olPopup
{
	font-size:8pt;
	border: 1px solid black;
	box-shadow: 5px 5px 8px grey;
	border-radius: 0 10px 10px 10px;
}

.olPopup h4 {
    margin: 0px;
    padding: 0px;
}

.popInWindow {
	/* background-color: #303030; */
	background-color: #FFFFFF;
	/* color: white; */
	border: 1px solid #909090;	
	padding: 5px;
	overflow-y: auto;
}

.popInWindow h4 {
	margin: 0px;
	margin-top: 8px;
}

.olControlLayerSwitcher .layersDiv {
	background-color: #303030;
	color: white;
}

#drawlocationhelp {
	display: none;
	width: 350px;
	position: absolute;
	left: 350px;
	top: 0px;
}

#geocodeerresult {
	display: none;
	width: 350px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 400px;
	overflow-y: auto;
	z-index: 2000;
}

#cancelDrawingPoint {
	display: none;
}

#createlink {
	display: none;
    /* position: absolute; was de oorspronkelijke */
    position: fixed;
	left: 350px;
	top: 0px;
	width: 420px;
	height: 580px;
}

#createlink input {
	font-size: 0.9em;
}

#addlayer {
	display: none;
	position: absolute;
	left: 350px;
	top: 0px;
	width: 420px;
	height: 500px;
}

.geozetSuggestions li a span{
	display: none;
}

/* .geozetSuggestions li.selected{
	background: url(../markertypes/information_blue.png) no-repeat 0px;
} */

#mapfunctions h3 {
	position: relative;
	margin: 3px;
	text-align: right;
	padding-top:10px;
}

.closeWindow {
	float: right;
	margin: 2px;
	font-weight: bold;
	color: black;
}

.defaultmarker {
	height: 24px;
}

.left-nav li{ float: none;display:inline;}
.right-nav {float:right;}
.edit3class {  clear:both;}


#styleselector{
    height:130px;
    width:300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#styleselector li{
    padding-left: 18px;
    height: 30px;
    font-size:1em;
}

#styleselector img{
    float:left;
    margin-top:-5px;
}

.styleselected{
    background-color: #e17000;
}

.listyletext{
    padding-left: 45px;
    padding-top: 5px;
    font-size: 1.1em;
}

input, select, textarea {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     width: 298px;
}

#description{
	height:60px;
}	

#editmarker3{
	width : 20px;
}

#editmarker4{
	width : 20px;
}

#searchLocation{
	width : 180px;
}

#kp1{
	width : 20px;
}	

#kp2{
	width : 20px;
}	

#kp3{
	width : 20px;
}	

#kp5{
	width : 20px;
}

#vanaf{
	width : 50px;
}

#totenmet{
	width : 50px;
}

#divvanaf{
	font-size: 0.68em;
}

#divtotenmet{
	font-size: 0.68em;
}

#mapsize1{
	width : 20px;
}	

#mapsize2{
	width : 20px;
}	

#mapsize3{
	width : 20px;
}