/*
Author: Toni Ruckwood
Copyright: 2007 Ordnance Survey
Version: 1.0
Updated: 
*/

* {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

.access,#mast UL,#nav,#footer P {
	display: none;
}

A IMG {
	border: none;
}

A {
	text-decoration: none;
}

#content A:link:after, #content A:visited:after {
	content: " [Link to: " attr(href) "] ";
	color: #009;
	font-style: italic;
	font-weight: normal;
}

#footer {
	position: relative;
}
#footer UL {
	list-style: none;
	margin: 0;
	padding: 0;
}
#footer UL LI {
	display: inline;
}

