.olControlPanel {
	display: block;
	width: 160px;
	height: 40px;
	margin: 1px;
	float: right;
	top: 5%;
	left: 5%px;
	right: 1%;
}
.openBRTItemInactive {
	float: right;
	background:url("./img/brt.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	left: 12px;
	top: 5%;
	width: 40px;
	margin-top: -9px;
}
.openTOP10ItemInactive {
	float: right;
	background:url("./img/top10nl.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	left: 12px;
	top: 5%;
	width: 40px;
	margin-top: -9px;
}
.openLufoItemInactive {
	float: right;
	background:url("./img/lufo.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 40px;
	left: 12;
	top: 5%;
	width: 40px;
	margin-top: -9px;
}
