html {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
/*    font-size: 10px;*/
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
img {
    max-width: none;  /* fix for responsive lay outs, these often set this to 100%, which breaks OpenLayers! */
}
/* because RWS uses these maps in responsive layouts, let's make all widht's 100% */
div.olMap.small {
   width: 100%;
   height: 250px;
}
div.olMap.medium {
   width: 100%;
   height: 350px;
}
div.olMap.big {
   width: 100%;;
   height: 440px;
}
div.olMap.fullscreen {
     width: 100%;
    height: 100%;
}
.olControlAttribution {
    bottom: 3px!important;
    font-size: 10px;
}

.olImageLoadError {
  background-color: transparent; /* may likely be omitted */
  opacity: 0.0;
  filter: alpha(opacity=0); /* IE */
  visibility: hidden;
}

 .olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
    font-size: 12px;
    max-width:300px!important;
 }

.olControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0;
    width: 220px;
    font-weight: 400;
    margin-top: 3px;
    font-size:1.2em;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: rgb(39, 51, 151);
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    width: 18px;
    height: 18px;
    top: 5px;
    right: 0;
    cursor: pointer;
    opacity: 0.8;
}

div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
    background: rgb(39, 51, 151);
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    border-radius: 4px;
    padding: 2px;
}

div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 22px;
    width:22px;
    line-height: 19px;
    background: #273397; /* fallback for IE - IE6 requires background shorthand*/
    filter: alpha(opacity=60);
}

div.olControlZoom a:hover {
    background: rgb(39, 51, 151);
    opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


div.olControlMousePosition {
    left:10px;
    bottom: 3px !important;
    font-size:10px;
}

@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgb(0,0,0);
        opacity: 0.5;
        filter: alpha(opacity=50);
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    }
}

ul.geozetSuggestions{
    padding:0;
}
.geozetSuggestions li a span{
	display: none;
}


.geozetSuggestions li {
    margin-top: 4px;
    list-style-type: none;
    width: 95%;
}

.closeWindow {
	float: right;
	margin: 2px;
	font-weight: bold;
	color: black;
}

#pdoksearch {
    top: 5px;
    left: 45px;
    position: absolute;
    z-index:2000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 80%;
}
fieldset {
    padding: 0;
    margin: 0;
    border: 0px solid #fff;
}
#searchResults{
    height: 350px;
    overflow-y: auto;
}
.filterbutton:hover {
    background-color: #273397;
    border: 1px solid #273397;
}
.filterbutton{
    cursor:pointer;
    /*width:150px;*/
    height: 31px;
    color: transparent;
    background-color: #e17000;
    color: #fff;
    border: 1px solid #e17000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#geocodeerresult {
    display: none;
    background-color: #F6D4B2;
    height: 450px;
    width: 324px;
    border: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    z-index: 2000;
    padding:24px;
}
#geocodeerresult li{
    background: url(../img/link-hover.gif) no-repeat right bottom;
}
#geocodeerresult a{
    color: black;
    margin: 5px;
    text-decoration: none;
}
#pdoksearch form input[type=text],
#pdoksearch form select,
#pdoksearch form textarea,
#pdoksearch form select {
    float:left;
    /*width:190px;*/
    height:27px;
    line-height:27px;
    text-indent:10px;
    font-size:1em;
    color:#333;
    background: #fff;
    border:solid 1px #d9d9d9;
    border-top:solid 1px #c0c0c0;
    border-right:none;
}
#pdoksearch form select {
    width:40px;
}
#pdoksearch form {
    margin-bottom:0px!important;
}

.olControlLoadingPanel {
    background-image: url("../img/dataloading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: none;
    height: 24px;
    position: relative;
    right: 2px;
    width: 24px;
    top: 2px;
}
