CBS_4KANTEN500M_INWONERS$YEAR: {
    layertype: "WMS",
    name: "CBS Vierkanten 500m - $YEAR (WMS)",
    url: "https://geodata.nationaalgeoregister.nl/cbsvierkanten500mv2/wms",
    layers: "vierkant500m$YEAR",
    transparent: "true",
    format: "image/png",
    visibility: true,
    isBaseLayer: false,
    singleTile: true,
  },